<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("firstname")%></th>
      <th><%= t("lastname") %></th>
      <th><%= t("email") %></th>
      <th><%= t("Last Update") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, edit_user_path(user) %> <td><%= link_to user.firstname, edit_user_path(user) %> <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><% user.roles.each do |role| %> <%= role.name %> <% end %></td>
      <td><%= I18n.l(user.updated_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

