<div class="page-header">
  <h3><%= @dados.nome %></h3>

  <ul class="nav nav-tabs">
    <li>
      <a href="<%= entidade_equipamento_path(@dados) %>">Dados Gerais</a>
    </li>
    <li>
      <%= link_to "Apresentação (Vídeo)", apresenta_entidade_equipamentos_path(@dados) %>
    </li>
    <li>
      <%= link_to "Fotos", entidade_equipamento_videos_path(@dados) %>
    </li>
    <li class="active">
      <%= link_to "Vídeos", entidade_equipamento_videos_path(@dados) %>
    </li>
    <% if @dados.tipo_id == 1 %>
      <li>
        <%= link_to "Saiba Mais", entidade_equipamento_questionario_basico_entidades_path(@dados) %>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="active tab-pane" id="list">

      <% if user_signed_in? %>
      <% if (current_user.id == @dados.user_id || current_user.admin?) %>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_entidade_equipamento_video_path, :class => 'btn btn-primary' if ! @videos.empty?%>
      <% end %>
      <% end %>

      <% if @videos.empty? %>
      <center>
        <br/>
        <h3> Nenhum Vídeo encontrado
        <br/>
        <% if user_signed_in? %>
          <% if  (current_user.id == @dados.user_id) || (current_user.admin?) %>
            <%= link_to "Adicionar novo Vídeo?", new_entidade_equipamento_video_path if user_signed_in?%> </h3>
          <% end %>
        <% end %>
        <br/>
        </br>
      </center>
      <% else %>
        <div id="gallery">
          <ul id="grid">
            <% @videos.each do |video| %>
             <li>
              <%= link_to (image_tag video.video.url(:thumb), :alt => video.nome, :title => video.nome, :width => '150'), entidade_equipamento_video_view_path(@dados, video), :id => 'video-box', :class => 'popover-image', 'data-content' => video.nome, 'data-placement' => 'top' %></td>
              <% if user_signed_in? %>
                <% if (current_user.id == @dados.user_id || current_user.admin?) %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_entidade_equipamento_video_path(@dados, video), :class => 'btn btn-mini' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), entidade_equipamento_video_path(@dados, video), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você esta certo?')) }, :class => 'btn btn-mini btn-danger' %>
                <% end %>
              <% end %>
             </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
