<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Todos", tipos_path %>
  </li>
  <li>
    <%= link_to "Cadastrar", new_tipo_path %>
  </li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th><%= t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @tipos.each do |tipo| %>
        <tr>
          <td><%= link_to tipo.id, tipo_path(tipo) %></td>
          <td><%= tipo.nome %></td>
          <td><%= tipo.descricao %></td>
          <td> <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_tipo_path(tipo), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), tipo_path(tipo), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
