<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Alterar Senha", edit_user_registration_path(resource_name) %></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <%= f.label :current_password, 'Senha Atual', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :current_password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, 'Nova Senha', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, 'Confirme a Nova Senha', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
      <div><%= f.submit "Alterar Senha", :class => 'btn btn-primary' %></div>
    </div>
  <% end %>
  </div>
</div>
